
.SideBar{
    background-color: var(--dark-1);
    display: inline-flex;
    flex-direction: column;
    height: 100vh;
    padding: 20px;
    align-items: center;
    text-transform: capitalize;
    color: var( --light-2);
    position: relative;
    width: fit-content;
  
}
.SideBar .SideIcone{
    display: flex;
    justify-content: center;

}
.SideBar .SideIcone .favIcone
{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.SideBar .SideIcone .menuBar
{
    display: none;
}


.SideBar .UserSetting .sideBtn {
    
    margin: 15px;
    border-radius:10px ;
    padding: 4px;
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;

}
.SideBar .UserSetting .sideBtn:hover,
.SideBar .UserSetting .sideBtn:active
    {
background-color: var( --primary-600);
transition: 0.2s;
transform: scale(1.1);
box-shadow: 0 0 10px white;
cursor: pointer;
}
.SideBar .Logout {
    position: absolute;
    bottom: 20px;
    width: 80%; 
}
.sideBtn h3 a{
    color:white;
    text-decoration: none;
    filter: drop-shadow(0 0 10px white);
 
}

.buttonsmodals{
    background-color: black;
    color: white;
    border: none;

}

.buttonsmodals:hover,
.buttonsmodals:active,
.buttonsmodals:focus{
    background-color: var(--primary-600);
}


@media (max-width:1183px) {
  
    .buttonsmodals.show{
        display: block;
        
    }
    .SideBar{
        align-items: flex-start;
        width: fit-content;
       transform: translate(-250px);
        position: fixed;
        top: 0;
        z-index: 1000;
    }
    .SideBar.clicked{
       transform: translate(0px);
        transition: 0.5s;
        height: 100vh;
        position: fixed;
  

    }
    
 

   

    .SideBar.clicked .Logout{
    
        width: fit-content;
        display: flex;
        /* align-items: center;
        justify-content: center; */
        margin-left: 20px;
    }

    .SideBar.clicked .Logout
    {
        margin-top: 100px;
        width: 100%;
    }

    .SideBar .SideIcone {
        flex-direction: column;
    }
    .SideBar .SideIcone .menuBar {
      display: block;
      position: fixed;
    top: 0;
    }

  
.SideBar .SideIcone img{
   margin-left: 10px;
}
    .SideBar .SideIcone h1{
        display: none;
    }
}