
.card {
    text-transform:capitalize;
    width: fit-content;
    padding: 0px;
    background-color:var(--dark-2) !important ;
    margin-top: 3rem;
    box-shadow: 0 0 5px white;
    max-height: fit-content;
    padding: 10px;
}

.card .User_And_Time_Info{
    display: flex;
    align-items: center;
    margin-top: 1rem;
    color: white;
    
}
.card .User_And_Time_Info .Name_and_Date{
    margin-left: 2rem;
}

.card .User_And_Time_Info h1{
    font-weight: bold;
    font-size: 14px;
    filter: drop-shadow(0 0 10px white);
}

.card .User_And_Time_Info p{
    font-weight: 100;
    letter-spacing: 3px;
    font-size: 10px;
}

.card .User_And_Time_Info  img{
    max-width: 50px;
    margin-left: 10px;
    border-radius: 50%;
    filter: drop-shadow(0 0 4px white);
}

.Dis{
    margin-top: 3rem;
    color: white;
    

}

.Dis .card_tags {
    font-weight: 100;
}

.Dis .card_tags , .card_title{
    padding: 10px;
    margin-left: 20px;
    margin-left: 20px;
    max-width: fit-content;
}
.Dis .Post_img {
text-align: center;
}

.Dis .Post_img img{
    padding: 10px;
    border-radius: 10px;
    max-height:50vh ;
}

.card .Like_and_save{
    display: flex;
    justify-content:flex-end;
    justify-content: space-between;
    padding: 10px;

}